@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root {
    /* ## Colors */

    /* ### Primary */
    
    --soft-cyan: hsl(174, 77%, 80%);    /* (Full Slider Bar) */
    --strong-cyan: hsl(174, 86%, 45%);    /* (Slider Backround) */
    --light-grayish-red: hsl(14, 92%, 95%);    /* (Discount Background) */
    --light-red: hsl(15, 100%, 70%);    /* (Discount Text) */
    --pale-blue: hsl(226, 100%, 87%);    /* (CTA Text) */
    
    /* ### Neutral */

    --white: hsl(0, 0%, 100%);    /* (Pricing Component Background) */
    --very-pale-blue: hsl(230, 100%, 99%);    /* (Main Background) */
    --light-grayish-blue-slider: hsl(224, 65%, 95%);    /* (Empty Slider Bar) */
    --light-grayish-blue-toggle: hsl(223, 50%, 87%);    /* (Toggle Background) */
    --grayish-blue: hsl(225, 20%, 60%);    /* (Text) */
    --dark-desaturated-blue: hsl(227, 35%, 25%);    /* (Text & CTA Background) */

    --slider-value: 3; /* Initial value of slider */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./images/bg-pattern.svg);
    background-repeat:no-repeat;
    background-position: top right;
    background-size: contain;
    background-color: var(--very-pale-blue);
}

h1, h2 {
    font-weight: 800;
    color: var(--dark-desaturated-blue);
}

p {
    font-weight: 600;
    color: var(--grayish-blue);
    font-size: 0.85rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-weight: 800;
    font-size: 1rem;
    color: var(--grayish-blue);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    position: relative;
    text-align: center;
    gap: 0.5rem;
}

#header img {
    position: absolute;
    z-index: -1;
}

.sub-header {
    display: flex;
    gap: 0.25rem;
}

.sub-header h3 {
    font-weight: 600;
}

#card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 0.75rem;
    box-shadow: 0 0 60px -20px var(--light-grayish-blue-toggle);
}

.card-item {
    display: flex;
    margin: 0.5rem 0;
    justify-content: center;
    padding: 2rem 3rem;
}

#form-section {
    flex-direction: column;
}

#pricing {
    justify-content: space-between;
}

.grid-col-span-2 {
    grid-column: span 2;
}

#pricing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

.pricing-item{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


#page-views {
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

#page-views h3 {
    font-size: 0.85rem;
}

#price-per-type {
    justify-content: end;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    width: 30rem;
}

input[type="range"]:focus {
    outline: none;
}

/***** Track Styles *****/

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--light-grayish-blue-slider);
    height: 0.5rem;
    border-radius: 1rem;
    background-image: linear-gradient(to right, var(--strong-cyan) 0%, 
                    var(--strong-cyan) calc((var(--slider-value) - 1) * 25%), 
                    var(--light-grayish-blue-slider) calc(var(--slider-value) * 10%), 
                    var(--light-grayish-blue-slider) 100%);
    background-size: 100% 100%;
}
  
/******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: var(--light-grayish-blue-slider);
    height: 0.5rem;
    border-radius: 1rem;
    background-image: linear-gradient(to right, var(--strong-cyan) 0%, 
    var(--strong-cyan) calc((var(--slider-value) - 1) * 25%), 
    var(--light-grayish-blue-slider) calc(var(--slider-value) * 10%), 
    var(--light-grayish-blue-slider) 100%);
    background-size: 100% 100%;
}

/***** Thumb Styles *****/

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -15px;
    background-image: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-size: 1.35rem;
    background-position: center;
    background-color: var(--strong-cyan);
    width: 2.5rem;    
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 5px 15px 5px var(--soft-cyan);
}

/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
    border: none; 
    border-radius: 0; 
    background-image: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-size: 1.35rem;
    background-position: center;
    background-color: var(--strong-cyan);
    width: 2.5rem;    
    height: 2.5rem;
    border-radius: 50%;
    box-shadow: 0 5px 15px 5px var(--soft-cyan);
}

input[type='range']::-webkit-slider-thumb:hover{
    transition: .2s ease-in;
    background-color: hsl(174, 90%, 50%);
}

input[type='range']::-moz-range-thumb:hover{
    transition: .2s ease-in;
    background-color: hsl(174, 90%, 50%);
}

input[type='range']::-webkit-slider-thumb:active{
    background-color: hsl(176, 65%, 40%);
}

input[type='range']::-moz-range-thumb:active{
    background-color: hsl(176, 65%, 40%);
}

#billing-format {
    display: flex;
    padding-top: 3.5rem;
    justify-content: center;
    gap: 1rem;
}

/**** Toggle Switch ****/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    aspect-ratio: 30/17;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-grayish-blue-toggle);
    -webkit-transition: .2s;
    transition: .2s ease-in;
    border-radius: 34px;
}
  
.switch-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    aspect-ratio: 1;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
    border-radius: 50%;
}

.switch-slider:hover {
    background-color: var(--soft-cyan);
}
  
input:checked + .switch-slider {
    background-color: var(--strong-cyan);
}
  
input:focus + .switch-slider {
    box-shadow: 0 0 1px var(--light-grayish-blue-toggle);
}
  
input:checked + .switch-slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

#yearly {
    display: flex;
    gap: 0.5rem;
}

.discount p {
    font-size: 0.65rem;
    font-weight: 800;
    text-align: center;
    color: var(--light-red);
    background-color: var(--light-grayish-red);
    padding: 0.15rem 0.5rem;
    border-radius: 1rem;
}

#discount-mobile {
    display: none;
}

#cta-section {
    border-top: 1px solid var(--light-grayish-blue-slider);
    justify-content: space-between;
    align-items: center;
}

#perks {
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
}

#cta-section img {
    padding-right: 0.85rem;
}

button {
    border: none;
    background-color: var(--dark-desaturated-blue);
    color: var(--light-grayish-blue-toggle);
    height: 3rem;
    padding: 0 3.5rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: color .2s ease-in;
}

button:hover {
    color: var(--white);
}

#year {
    display: none;
}

footer {
    position: relative;
    top: 1rem;
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
    color: var(--grayish-blue);
}

.attribution a { 
    color: var(--strong-cyan); 
}

@media screen and (max-width: 600px) {

    body {
        background-size: auto;
    }

    h2 {
        font-size: 1.5rem;
    }

    .container {
        margin-top: 4rem;
        gap: 4rem;
    }

    .card-item {
        margin: 0.5rem 0;
        padding: 2rem 1.5rem;
    }

    .sub-header {
        flex-direction: column;
    }

    .grid-col-span-2 {
        grid-column: span 1;
    }
    
    #page-views, #price-per-type {
        justify-content: center;
    }

    #pricing {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }


    .pricing-item:nth-child(2) {
        order: 3;
    }

    input[type="range"] {
        width: 19rem;
    }

    #discount-mobile {
        display: block;
    }

    #discount-desktop {
        display: none;
    }
    
    #cta-section {
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        align-items: center;
        gap: 2rem;
    }

    #perks {
        justify-content: center;
        align-items: center;
    }

}